article {
  margin-bottom: 20px;
}
ul li {
  list-style: none;
}
article {
  float: left;
  margin: 25px;
  background-color: #e4f0f4;
  border-radius: 1px;
  border-left: solid 4px #0069e8;
  padding: 15px;
  width: 90%;
}
input {
  max-width: 600px;
  min-width: 300px;
}
