@font-face {
  font-family: GraphikBold;
  src: url("../src/fonts/GraphikBold.otf") format("truetype");
}
@font-face {
  font-family: GraphikSemiBold;
  src: url("../src/fonts/GraphikSemibold.otf");
}
@font-face {
  font-family: GraphikMedium;
  src: url("../src/fonts/GraphikMedium.otf");
}
@font-face {
  font-family: GraphikRegular;
  src: url("../src/fonts/GraphikRegular.otf");
}
@font-face {
  font-family: GraphikLight;
  src: url("../src/fonts/GraphikLight.otf");
}
body {
  margin: 0;
  font-family: GraphikRegular !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 120% !important;
  line-height: 200% !important;
  text-align: left !important;
}
h1 {
  font-size: 36px;
  margin-left: 25px;
}
article h1 {
  margin-left: 0px;
  font-size: 22px;
}

ul li {
  list-style: none;
}
article {
  float: left;
  display: block;
  margin: 25px;
  background-color: #e4f0f4;
  border-radius: 1px;
  border-left: solid 4px #0069e8;
  padding: 15px;
  width: 97%;
}

.form,
input {
  max-width: 600px;
  min-width: 300px;
}
.footer {
  margin-top: 75px;

  float: left;
  display: block;
  background-color: #281c2c;
  color: white;

  width: 100%;
}
.footer section {
  width: 33.3333333%;
  min-width: 300px;
  float: left;
  display: block;
}
.footer img {
  padding: 25px;
}
.footer p {
  padding: 25px;
}
.foooterLink,
.headerLink {
  text-decoration: none !important;
  color: #efefef !important;
}
.headerLink {
  float: right;
}
.foooterLink:hover,
.headerLink:hover {
  text-decoration: underline !important;
  color: #efefef !important;
}
.line {
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 25px;
}

header {
  display: block;
  float: left;
  background-color: #0069e8;
  width: 100%;
  color: white;
  padding: 25px;
  margin-bottom: 50px;
}
